# @package _global_
defaults:
  - override /hydra/launcher: patched_submitit_slurm

hydra:
  mode: MULTIRUN
  launcher:
    cpus_per_task: 4
    gpus_per_node: 1
    array_parallelism: 16 # max num of jobs to run in parallel
    # Other things to pass to `sbatch`:
    additional_parameters:
      time: 1-00:00:00 # maximum wall time allocated for the job (D-HH:MM:SS)
      # TODO: It would be better to have those be arguments to the launcher (as is the case in the
      # RemoteLauncherPlugin), that way we could use only SLURM argument names..
      nodes: 1
      mem: 64G
      ntasks_per_node: 1

    ## A list of commands to add to the generated sbatch script before running srun:
    # setup:
    # - export LD_PRELOAD=/some/folder/with/libraries/

    # setup:
    #   - rsync -avP /home/adamb14/scratch/ood_slam/datasets/KITTI/processed/ $SLURM_TMPDIR/KITTI/
    #   - |
    #     # Extract tar files in images directory  
    #     IMAGES_DIR="$SLURM_TMPDIR/KITTI/images"
    #     if [ -d "$IMAGES_DIR" ]; then
    #       cd "$IMAGES_DIR"
    #       echo "Extracting sequence tar files..."
    #       for tar_file in *.tar; do
    #         if [ -f "$tar_file" ]; then
    #           echo "Extracting $tar_file"
    #           tar -xf "$tar_file"
    #           rm "$tar_file"  # Save space on compute node
    #         fi
    #       done
    #       echo "Extraction complete. Available sequences:"
    #       ls -1 | grep "^[0-9][0-9]$"
    #     fi

    setup:
      - rsync -avP /home/adamb14/scratch/ood_slam/datasets/KITTI/processed/flownets_EPE1.951.pth $SLURM_TMPDIR/KITTI/
      - rsync -avP /home/adamb14/scratch/ood_slam/datasets/KITTI/processed/pose_GT $SLURM_TMPDIR/KITTI/
      - mkdir -p $SLURM_TMPDIR/KITTI/images
      - rsync -avP /home/adamb14/scratch/ood_slam/datasets/KITTI/processed/images/00.tar $SLURM_TMPDIR/KITTI/images
      - cd $SLURM_TMPDIR/KITTI/images
      - tar -xf 00.tar
      - rm 00.tar
